@tailwind base;
@tailwind components;
@tailwind utilities;

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
 
html,body{
height: 100%;
width: 100%;
}



.typing-animation {
    display: inline-block;
  }
  
  .cursor {
    display: inline-block;
    background: transparent;
    
    animation: blink 0.8s infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #3877ec;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #135DE8;
}


::selection{
  color: #fff;
  background-color: #3877ec;
}